/* Add box-sizing: border-box; */
.header {
  box-sizing: border-box;
  background-color: #fff;
  background-image: url(../images/background_header.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  height: 800px;
  display: flex;
  flex-direction: column;
  /* Header img overlapping/Add z-index for a more responsive design */
  z-index: 1;
}

.header__title {
  max-width: 729px;
  margin: 183px 0 28px 80px;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -0.6px;
}
/* Add quotes to fonts with mutiple words */
.header__span-accent {
  color: #3f96f3;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: italic;
  display: block;
}
/* Add quotes to fonts with mutiple words */
.header__description {
  max-width: 683px;
  margin: 0 0 0 80px;
  font-family: "Noto serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
}
/* Add z-index for a more responsive design */
.header__image {
  width: 646px;
  height: 568px;
  position: absolute;
  top: 124px;
  right: 5px;
  z-index: -1;
}
/* remove useless flex property */
.header__footer {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #6f6f6f;
  margin-top: auto;
}

.header__paragraph {
  margin: 0 0 0 80px;
}

.header__paragraph:nth-of-type(3n) {
  margin-bottom: 40px;
}

.header__paragraph:last-of-type {
  align-self: flex-end;
  position: absolute;
  right: 80px;
  bottom: 40px;
}
